body,html{height: 100%;width: 100%;}
*{margin: 0;padding: 0;}
.chun-slide {background:url(../img/春.gif) no-repeat;background-size: 100% 100%;}

.lu-slide{background-color:#e5f1fd;position: relative;}
.tian1{position: absolute;top: 62%;left: 3%;}
.shi{position: absolute;top: 62%;left: 3%;z-index: 9;}
.tian2{position: absolute;top: 75%;left: 21%;}
.tian3{position: absolute;top: 78%;left: 45%;}
.tian4{position: absolute;top: 73%;left: 71%;}
.guang{position: absolute;top: 75%;left: 21%;}
.ren{position: absolute;top: 78%;left: 45%;z-index: 9;}
.ran{position: absolute;top: 73%;left: 71%;z-index: 9;}
.ban{position: absolute;top: 15%;left: 10%;z-index: 9;}
.xiatian{position: absolute;top: -5%;left: 20%;margin: 10% auto;z-index: 10;}

.xia-slide {background:url(../img/bg.png) no-repeat;background-size: 100%;position: relative;}
.xia-slide img{width: 26%;height: 20%; border-radius: 50%;}
.xia-slide img:nth-child(1){position: absolute;top: 10%;left: 10%;}
.xia-slide img:nth-child(2){position: absolute;top: 32%;left: 64%;}
.xia-slide img:nth-child(3){position: absolute;top: 53%;left: 10%;}
.xia-slide img:nth-child(4){position: absolute;top: 74%;left: 60%;}

.xia-slide img:nth-child(5){position: absolute;top: 12%;left: 41%;width: 20%;}
.xia-slide img:nth-child(6){position: absolute;top: 35%;left: 48%;width: 20%;}
.xia-slide img:nth-child(7){position: absolute;top: 54%;left: 39%;width: 20%;}
.xia-slide img:nth-child(8){position: absolute;top: 77%;left: 44%;width: 20%;}
.xia-slide p{position: absolute;top: -25%;left: 5%;width: 40%;height: 20%;}


.qiu-slide {background:#73afb7;position: relative;}
.qiu-slide img:nth-child(1){width: 80%;position: absolute;top: 3%;left: 10%;}
.qiu-slide img:nth-child(2){width: 44%;position: absolute;top: 35%;left: 23%;}
.qiu-slide img:nth-child(3){width: 44%;height:20%;position: absolute;top: 35%;left: 23%;z-index: 9;}
.div1{width: 30%;height: 1px;background: #FFFFFF;position: absolute;top: 74%;left: 10%;}
.div2{width: 1px;height: 9%;background: #FFFFFF;position: absolute;top: 84%;left: 88%;}
.div3{width: 30%;height: 1px;background: #FFFFFF;position: absolute;top: 90%;left: 63%;}
.div4{width: 1px;height: 9%;background: #FFFFFF;position: absolute;top: 71%;left: 14%;}
.qiu-slide p{font-size: 1.0rem; color: #FFFFFF;line-height: 1.0rem;}
.qiu-slide p:nth-child(8){position: absolute;top: 77%;left:24%;width: 50%;height:10%;z-index: 30;}
.qiu-slide p:nth-child(9){position: absolute;top: 84%;left:48%;width: 53%;height:52%;z-index: 30;}

.dong-slide {background: url(../img/bg2.png)no-repeat;background-size: 100%;}
.dong-slide img:nth-child(1){width: 90%;position: absolute;top: 3%;left: 4%;}
.dong-slide img:nth-child(2){width: 65%;position: absolute;top: 15%;left: 14%;}
.dong-slide img:nth-child(3){width: 93%;height: 23%; position: absolute;top: 30%;left: 3%;}
.dong-slide img:nth-child(4){width: 100%;height: 100%; position: absolute;top: 0%;left: %;z-index: 10;}

.dong-slide img:nth-child(5){width: 43%; position: absolute;top: 61%;left: -10%;z-index: 13;}
.dong-slide img:nth-child(6){width: 21%; position: absolute;top: 80%;left: 14%;z-index: 12;}
.dong-slide img:nth-child(7){width: 15%; position: absolute;top: 85%;left: 48%;z-index: 11;}
.dong-slide img:nth-child(8){width: 38%; position: absolute;top: 70%;left: 70%;z-index: 12;}
.dong-slide img:nth-child(9){width: 24%; position: absolute;top: 87%;left: 58%;z-index: 12;}
.dong-slide img:nth-child(10){width: 30%; position: absolute;top: 89%;left: 22%;z-index: 16;}

.dong-slide img:nth-child(11){width: 100%; position: absolute;top: 10%;left: -26%;z-index: 18;}
.dong-slide img:nth-child(12){position: absolute;top: 20%;left: 0%;z-index: 18;}



.swiper-slide {line-height: 300px;color: #fff;font-size: 36px;}
.swiper-container {width: 600px;height: 300px;}  
.bg{position: absolute;top:0;left:0;}

@-moz-keyframes sun2{
	0%{
		transform: rotate(0deg);
	}
	50%{
		transform: rotate(180deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

@-webkit-keyframes sun2{
	0%{
		transform: rotate(0deg);
	}
	50%{
		transform: rotate(180deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

.sun{
	position: absolute;
	top:10%;left:10%;
	z-index:3;
	animation: sun2 5s linear 2s infinite;
	-moz-animation: sun2 5s linear 2s infinite;
	-webkit-animation: sun2 5s linear 2s infinite;
}








@media only screen and (min-height: 480px) and (max-height:736px) {
	#myfirst {
	height: 100%; width: 100%; overflow: hidden;
	}
}


















